
<div class="row {{secondary_class}}">
    <div class="link-container">
    {% if index %}
    <div class="award">2015 International Design Award Winner</div> {% endif %}
    <div class="apld-container"></div>
        
        {% if not lookhere %}<a class="front-link" href="/landscapes/">LOOK HERE</a>{% endif %}
        
        {% if not we_are %}<a class="front-link" href="/about">WE ARE</a>{% endif %}
        
        {% if not media%}<a class="front-link" href="/media">MEDIA</a>{% endif %}
        
        {% if not contact%}<a class="front-link" href="/contact/">CONTACT</a> {% endif %}
   
{% if not media %}
{% else %}

{% endif %}

     <a class="front-link" href=""></a>
    </div>

</div>