{% extends "base.html" %}

{% block title%}
Buttercup Design Group
{% endblock title %}

{% block content %}
<div class="about"> 
<div class="we-are-container">
<a class="image-link we-are-page"><div class="backbutton"></div></a>
<h5>we are...</h5>
<p>serving the East End of Long Island, NYC and Connecticut for 15 years.
</p>
<p>
we specialize in deer-resistant landscapes - however, we have been known to creatively defend areas from the deer to design beautiful and unusual landscapes.
</p>
<p>
no matter your tastes, or the style of your home, buttercup design group can simplify the process of turning a site into something extraordinary.
</p>
<p>
we also offer outdoor carpentry services for fences, pergolas, arbors - landscape lighting for thoughtful nighttime atmosphere and safety - and masonry for artisanal stone walls, planting beds, patios and stairs.
</p>
<p>
With an eye toward the future growth of the site, we strive for creative solutions to site and design issues, all the while searching for the unique 'moment' that provides an exciting and visual pleasure for the client and makes it all feel like 'home.'</p>
</p>
</div>
<div class="portrait-container">
    <p>vickie cardaro - designer, principal</p>
    <img src="/static/imgs/vickie_cardaro_headshot.jpg">
</div>
{% include "includes/navbar.html" with we_are=True secondary_class="we-are-nav-bar"%}
</div>


{% endblock content %}

{% block script %}
    $('.backbutton').click(function(){
        window.location.href = "http://buttercupdesigngroup.com/";
        })
{% endblock %}