<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
{% load static %}
<html class="no-js">
  <!--<![endif]-->
  <head>
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex, nofollow" />
    <title>{%block title%} {%endblock title%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=945px, initial-scale=.3, maximum-scale=1" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
  <!-- OWL -->

<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="/static/css/owl.carousel.css">
 
<!-- Default Theme -->
<link rel="stylesheet" href="/static/css/owl.theme.css">


  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <body>
  <div class="main">
  <div class="sidebar">
  {% block sidebar %}
  {% endblock %}
  </div>
  <div class="content-wrapper">
  {% block content %}
  {% endblock content %}
  </div>  
  </div>
  </body>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/owl.carousel.js"></script>
<script type="text/javascript" >
  $(document).ready(function() {

   


var nextImage = function() {

            var shown = $(".item.active").data("order")

      console.log(shown)
            $(".item.active").addClass('hide')
            $(".item.active").removeClass("active")

            if (shown == 4){
              $(".item.hide").removeClass('hide')
              $(".item[data-order='0']").addClass('active')


            } else {
              $(".item[data-order='"+ (shown + 1) +"']").addClass('active')  
            }

}

      $(".dissolve-wrapper").click(nextImage);
        setInterval(nextImage, 7000)
 
});
</script>
</html>
