{% extends "base.html" %}

{% block title%}
Buttercup Design Group
{% endblock title %}

{% block sidebar %}
<h3><a href="/">HOME</a> </h5>

<h3><a href="/landscapes/">Land Scapes</a></h3>
{% for location in landscapes %}
<h5><a href="/location/{{ location.slug_url }}"> {{ location.name }} </a></h5>
{% endfor %}
<h3><a href ="/hardscapes/"> Hard Scapes </a></h3>
{% for location in hardscapes %}
<h5><a href="/location/{{ location.slug_url }}"> {{ location.name }} </a></h5>
{% endfor %}
<h3><a href="/about">We Are</a> </h3>
<h3><a href="/">Media</a> </h3>
<h3><a href="/">Contact</a> </h3>



{% endblock %}
{% block content %}

{% for photo in photos%}
<img src="  
https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{ photo.display }}"> 

{% endfor %}
{% endblock content %}