{% extends "base.html" %}
{% load thumbnail %}

{% block title%}
Buttercup Design Group
{% endblock title %}

{% block content %}
<div class="location-gallery">
<div class="photogroup-nav">
<a class="image-link" href="/{{prefix}}s"><div class="backbutton"></div></a>
{{location.name}}

</div>
{% for photo in photos%}
<div class="hero-image-wrapper">
    <a href="/{{prefix}}/{{location.slug_url}}/{{photo.slug_url}}">
        <div class="image" style="background-image:url('http://d1uexm19i80p35.cloudfront.net/{{ photo.display }}');"></div>
    </a>
</div>
{% endfor %}

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/{{prefix}}/{{location.slug_url}}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                {% if page_obj.has_previous and page_obj.has_next%}
                <span>|</span> 
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="/{{prefix}}/{{location.slug_url}}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}
{% block script %}

$('.homeblock').click(function(){
    window.location.href = '/';
})
{% endblock %}


{% block home %}
<div class="homeblock"></div>
{% endblock %}