{% extends "base.html" %}

{% block title%}
Buttercup Design Group
{% endblock title %}

{% block content %}

<div class="ribbon">
  <a href="#">Undergoing Renovation</a>
</div>
<div class="banner">
<div class="quote-container">
"Gardening is not a rational act" <br /><span class="quoted">- Margaret Atwood</span>
</div>
</div>
 <div class="dissolve-wrapper">
  <img class="item active" data-order="4" src="http://d1uexm19i80p35.cloudfront.net/static/13.JPG" ></img>
  <img class="item hide"  data-order="3" src="http://d1uexm19i80p35.cloudfront.net/static/A1.JPG" ></img>
  <img class="item hide"  data-order="2" src="http://d1uexm19i80p35.cloudfront.net/static/P1020910.JPG" ></img>
  <img class="item hide"  data-order="1" src="http://d1uexm19i80p35.cloudfront.net/static/Bell14.png" ></img>
  <img class="item hide"  data-order="0" src="http://d1uexm19i80p35.cloudfront.net/static/Bell19.png" ></img>
</div>
<div class="bottom-bg">
<div class="row">
    <div class="link-container">
        <a class="front-link" href="/landscapes/"></a>
        <a class="front-link" href="/about">WE ARE</a>
        <a class="front-link" href="/media">MEDIA</a>
        <a class="front-link" href=""></a>
    </div>

</div>
</div>



{% endblock content %}