{% extends "base.html" %}

{% block title%}
Buttercup Design Group
{% endblock title %}

{% block content %}

<div class="banner">
<div class="quote-container">
"Gardening is not a &nbsp;rational act" <br /><span class="quoted">- Margaret Atwood</span>
</div>
</div>
 <div class="dissolve-wrapper">
  <div class="item active" data-order="4" style="background:url(    
https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/static/13.JPG/13.JPG)" ></div>
  <div class="item hide"  data-order="3" style="background:url( 
https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/static/A1.JPG)" ></div>
  <div class="item hide"  data-order="2" style="background:url( 
https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/static/B3.JPG)" ></div>
  <div class="item hide"  data-order="1" style="background:url( 
https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/static/Bell14.jpg)" ></div>
  <div class="item hide"  data-order="0" style="background:url( 
https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/static/Bell19.jpg)" ></div>
</div>

<div class="row">
    <div class="link-container">
        <a class="front-link" href="/landscapes/">LOOK HERE</a>
        <a class="front-link" href="/about">WE ARE</a>
        <a class="front-link" href="/media">MEDIA</a>
        <a class="front-link" href="">CONTACT</a>

    </div>

</div>




{% endblock content %}