{% extends "base.html" %}

{% block title%}
Buttercup Design Group
{% endblock title %}

{% block content %}

<div class="image-container">
<div class="row">
<img src="/static/imgs/ul_img.jpg">
<div class="quote-container" >
    <div class="quote-text">"Gardening is not a &nbsp;rational act."</div>
    <div class="quoted"> - Margret Atwood</div>


</div>
<img src="/static/imgs/ur_img.jpg">
</div>
<div class= "row">
<img class="bottom" src="/static/imgs/bot_img.jpg">
</div>
<div class="row">
    <div class="link-container">
        <a class="front-link" href="/landscapes/">LOOK HERE</a>
        <a class="front-link" href="/about">WE ARE</a>
        <a class="front-link" href="/media">MEDIA</a>
        <a class="front-link" href="">CONTACT</a>

    </div>

</div>
</div>

</div>



{% endblock content %}