{% extends "base.html" %}
{% load thumbnail %}

{% block title%}
Buttercup Design Group
{% endblock title %}


{% block content %}
<style>
    .content-wrapper{
        position:inherit;
    }
</style>

<div class="location-gallery">
<div class="photogroup-nav">
<a class="image-link" href="/"><div class="backbutton"></div></a>
{% if title == "HARDSCAPES" %}
   <a href="/landscapes">landscapes</a> <span>hardscapes</span>
{% endif %}
{% if title == "LANDSCAPES" %}
   <span>landscapes</span>   <a href="/hardscapes">hardscapes</a>

{% endif %}

</div>
{% for landscape in landscapes %}


    <div class="hero-image-wrapper">
    <a rel="prefetch" href="/{{prefix}}/{{landscape.slug_url}}/{{landscape.get_hero.slug_url}}">
    <div class="image" style="background-image:url({% thumbnail landscape.get_hero.display '450x300' %});"><p>
    {{landscape.name}}</p></div>
    </a>
    </div>
{% endfor %}
{% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="front-link" href="/landscapes?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="front-link" href="/landscapes?page={{ page_obj.next_page_number }}">MORE</a>
                {% endif %}
    {% endif %}
</div>
{% include "includes/navbar.html" with lookhere=True secondary_class="location-nav-bar"%}
{% endblock content %}

{% block script %}

$('.homeblock').click(function(){
    window.location.href = '/';
})
{% endblock %}


{% block home %}
<div class="homeblock"></div>
{% endblock %}

