{% extends "base.html" %}
{% load thumbnail %}

{% block title%}
Buttercup Design Group
{% endblock title %}

{% block sidebar %}
<h3><a href="/">HOME</a> </h5>
<h3><a href="/about">We Are</a> </h3>
<h3><a href="/media">Media</a> </h3>
<h3><a href="/">Contact</a> </h3>



{% endblock %}
{% block content %}

<div class="location-gallery">
<div class="photogroup-nav">
<a class="image-link" href="/"><div class="backbutton"></div></a>
{% if title == "HARDSCAPES" %}
   <a href="/landscapes">landscapes</a> <span>hardscapes</span>
{% endif %}
{% if title == "LANDSCAPES" %}
   <span>landscapes</span>   <a href="/hardscapes">hardscapes</a>

{% endif %}

</div>
{% for landscape in landscapes %}

    <div class="hero-image-wrapper">
    <a href="/{{prefix}}/{{landscape.slug_url}}">
    <div class="image" style="background-image:url('https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{ landscape.get_hero.display }}');"><p>
    {{landscape.name}}</p></div>
    </a>
    </div>
{% endfor %}
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/landscapes?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="/landscapes?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}

$('.homeblock').click(function(){
    window.location.href = '/';
})
{% endblock %}


{% block home %}
<div class="homeblock"></div>
{% endblock %}

