{% extends "base.html" %}

{% block title%}
Buttercup Design Group
{% endblock title %}







{% block content %}
<div class="magazine-gallery">
<a class="image-link media-page"><div class="backbutton"></div></a>
{% for magazine in media %}
<img class="magazine-cover" src="  
https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{ magazine.display }}"> 

{% endfor %}
</div>


{% endblock  %}

{% block script %}

    $('.backbutton').click(function(){
        window.location.href = "/";

{% endblock %}