{% extends "base.html" %}
{% load thumbnail %}

{% block title%}
Buttercup Design Group
{% endblock title %}


{% block content %}
<style>
body{position:relative;}
    .content-wrapper{
        position:absolute;
        width:100%;
    }
</style>
<div class="single-gallery">
   {% if not photo.portrait %}
    <div class="single" style="background-image:url('{% thumbnail photo.display '1200x900' %}')" >
    {% else %}
    <div class="single" style="background-image:url('https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{ photo.display}}')" >
    {%endif %}
<a class="image-link single-page"><div class="backbutton"></div></a>
    {% if prev %}
    <div class="prev-photo"> </div>
    {% endif %}

    {% if next %}
    <div class="next-photo"> </div>
    {% endif %}

    </div>
</div>

{% endblock %}

{% block script %}
    var window_height = $(window).height()
    var height = window_height - 150;
(function(){
    var window_height = $(window).height()
    var height = window_height - 150;
     if (window_height > 400 & {{photo.height}} > {{photo.width}}){
        var margin = height - 584;
        margin = margin + "px";
        $('.main').css("margin-top", margin)
        $('.main').css("margin-left",("calc(50% - " + ( ({{photo.width}} / {{photo.height}} * height) / 2) + "px)"))
        console.log(("calc(25% +" + ( ({{photo.width}} / {{photo.height}} * height) / 2) + "px)"))
        //$('.content-wrapper').css("left","calc(50% - "+parseInt((640-{{photo.width}}/{{photo.height}}*height/2)) + "px)")
        }
        else{ 
        $('.single').css("margin-top","40px")
        $('.single').css("background-size", "cover")}})()

$('.homeblock').click(function(){
    window.location.href = '/';
})
    $('.backbutton').click(function(){
        window.location.href = "/{{prefix}}s/?page={{photo.location_page_number}}";
    })
    $('.next-photo').click(function(){
        window.location.href = '/{{prefix}}/{{company.slug_url}}/{{next.slug_url}}/'
    })
    $('.prev-photo').click(function(){
        window.location.href = '/{{prefix}}/{{company.slug_url}}/{{prev.slug_url}}/'
    })
    $(".content-wrapper").css('position', 'inherit')

    var img = new Image()
    img.src = 'https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{ photo.display }}'
    img.onload = function(){
    console.log("main image rendered")
       $('.single').animate({ opacity:"1"}, 300);

        if (window_height > 400 & {{photo.height}} > {{photo.width}}){
         $('.single').css('height', (height +"px"))
         var left = {{photo.width}}/{{photo.height}} * height/2
         }
            {% for image in photos %}
            preload('https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{image.display}}')
            {% endfor %}
        
    }
    $('.single').show()

    


            var images = new Array()
            function preload(url) {
                    var image = new Image()
                    image.src = url
                    image.onload = function(){
                    console.log(url + " finished preloading")
                    }
                    images.push(image)       
            }
            

    

{% endblock %}


{% block home %}
<div class="homeblock"></div>
{% endblock %}