{% extends "base.html" %}
{% load thumbnail %}

{% block title%}
Buttercup Design Group
{% endblock title %}


{% block content %}
<div class="single-gallery">
<div class="photogroup-nav">

<a class="image-link single-page"><div class="backbutton"></div></a>
</div>
    <div class="single" style="background-image:url('https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{ photo.display }}')" >

    {% if prev %}
    <div class="prev-photo"> </div>
    {% endif %}

    {% if next %}
    <div class="next-photo"> </div>
    {% endif %}

    </div>
</div>

{% endblock %}

{% block script %}

$('.homeblock').click(function(){
    window.location.href = '/';
})
    $('.backbutton').click(function(){
        window.location.href = "/{{prefix}}/{{company.slug_url}}";
    })
    $('.next-photo').click(function(){
        window.location.href = '/{{prefix}}/{{company.slug_url}}/{{next.slug_url}}/'
    })
    $('.prev-photo').click(function(){
        window.location.href = '/{{prefix}}/{{company.slug_url}}/{{prev.slug_url}}/'
    })
    $(".content-wrapper").css('position', 'inherit')

    var img = new Image()

    img.onload = function(){

    var window_height = $(window).height()
    var height = window_height - 150;
     if (window_height > 800){
        var related_height = this.height/this.width * 955

        if (related_height < 500){
         $('.single').animate({ opacity:"1"}, 300);
        }
        else{
        var margin = height - 584;
        margin = margin + "px";
        $('.main').animate({"margin-top":margin}, 300, function(){
         $('.single').animate({ opacity:"1"}, 300);
         $('.single').css('height', (height+"px"))
        $('.single').show()
        })
        }

     } else{
        $('.single').animate({ opacity:"1"}, 300);
     }


    }
    img.src = 'https://s3-us-west-2.amazonaws.com/buttercupdesigngroup/{{ photo.display }}'


     
    
    

{% endblock %}


{% block home %}
<div class="homeblock"></div>
{% endblock %}